.page-body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #c0dbd9;
}

.page-header {
  width: 100%;
  min-height: 100px;
  background-color: #7faff6;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
}

.page__button {
  background-color: #a5c7f9;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  margin: 0 15px;
  color: #ffffff;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}

.page-main {
  margin: 0;
  padding: 0;
  width: 100%;
}

.block1__list {
  background-color: #b3f95a;
  display: grid;
  grid-template-columns: 33.33% 50.42% 13.67%;
  grid-template-rows: 198px 198px;
  gap: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.block1__item {
  background-color: #8ad191;
}

.block1__item::before {
  color: #ffffff;
  position: relative;
  top: 35%;
  left: 45%;
  transform: translateX(-50%) translateY(-50%);
  font-size: 53px;
  font-family: Roboto, sans-serif;
}

.block1__one {
  grid-column: 1/2;
  grid-row: 1/2;
}

.block1__one::before {
  content: "1";
}

.block1__two {
  grid-column: 2/3;
  grid-row: 1/2;
}

.block1__two::before {
  content: "2";
}

.block1__three {
  grid-column: 3/4;
  grid-row: 1/2;
}

.block1__three::before {
  content: "3";
}

.block1__four {
  grid-column: 1/3;
  grid-row: 2/3;
}

.block1__four::before {
  content: "4";
}

.block1__five {
  grid-column: 3/4;
  grid-row: 2/3;
}

.block1__five::before {
  content: "5";
}

.block2__list {
  background-color: #88b5bf;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 30px;
  margin: 15px 0 100px 0 ;
}

.block2__item {
  background-color: #0d89b0;
  min-height: 199px;
}

.page-footer {
  width: 100%;
  min-height: 100px;
  background-color: #7faff6;
  margin: 0;
}

.popup-checkbox, .popup {
  display: none;
}

.popup {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}

.popup-content {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  box-sizing: border-box;
}

.pop-up__text {
  font-size: 53px;
  margin: 169px 116px;
  font-family: Roboto, sans-serif;
  white-space: nowrap;
}

.popup-shower {
  text-decoration: none;
  cursor: pointer;
}

.popup-closer {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #ffffff;
  width: 43px;
  height: 39px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #7faff6;
}

.popup-closer::before {
  position: relative;
  content: "X";
  font-family: Roboto, sans-serif;
  top: 30%;
  left: 37.5%;

}

.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}
